/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.dmg-read-more {
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 1em;

	a {
		color: #ea6400;
	}
}
